/**
 * @name wearr-theme
 * @author _wearr_
 * @version 0.1
 * @description it's the theme woaw
 * @source https://github.com/wearrrrr/discord-theme
 */

:root {
    --font-primary: "Noto Sans", sans-serif !important;
    --font-display: "Noto Sans", sans-serif !important;
    --font-code: "Noto Sans Mono", monospace;

    /* Configuration */
    /*  --enable-gift-button: flex; */
    /*  --enable-app-launcher-button: flex; */
    /*  --enable-store-button: flex; */
    --enable-shop-button: flex;
    --enable-quests-button: flex;

    --image-url: url(https://raw.githubusercontent.com/wearrrrr/discord-theme/refs/heads/main/wallpaper.jpg);
    --bg-transparency: rgb(0, 0, 0, 0.8);
    --fg-transparency: rgb(0, 0, 0, 0.3);
    --msg-transparency: rgb(0, 0, 0, 0.1);
}

div[aria-label="Send a gift"] {
    display: var(--enable-gift-button, none);
}

div[aria-label="Apps"] {
    display: var(--enable-app-launcher-button, none);
}

h3[class*="-header"] {
    margin: 0;
}



[class*="-typing"] {
    background-color: var(--msg-transparency);
    backdrop-filter: blur(8px);
    border-top-left-radius: var(--radius-md);
    border-top-right-radius: var(--radius-md);
    border: 1px solid var(--border-faint);
    border-bottom: 0px;
}

[class*="channelTextArea"],
[class*='-form'] > div {
    background: var(--msg-transparency);
    backdrop-filter: blur(8px);
}

[class*="-form"]:has([class*="-typing"]) [class*="-channelTextArea"] {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-top: 0px;
}

[class*="autocomplete"] {
    background: transparent;
    backdrop-filter: blur(12px) !important;
    [class*="-autocompleteInner"] {
        background: transparent;
        [class*="scroller"] {
            background-color: var(--bg-transparency);
        }
    }
}

.visual-refresh [class*="-form"] {
    margin: 0px 4px 0px 1px;
    padding: 0;
    --chatbar-border-color: var(--border-faint);
}

ul[class*="-content"] {
    li > div > a[href="/store"] {
        display: var(--enable-store-button, none);
    }
    li > div > a[href="/shop"] {
        display: var(--enable-shop-button, none);
    }
    li > div > a[href="/quest-home"] {
        display: var(--enable-quests-button, none);
    }
}

div[class*="-content"] {
    [class*="-text"] {
        max-height: unset !important;
    }
}

/*
    All the things that need to only be transparent

    Not a great thing to do, but it works.
*/
[class*="-shop"],
[class*="-privateChannels"],
[class*="-privateChannels"] > [class*="-scroller"],
[class*="-stackedBars"],
[class*="-guilds"],
[class*="-sidebar"]:after,
[class*="-themed"],
[class*="-themedBackground"],
[class*="-footer"],
nav[class*="-container"],
[class*='-banner'],
[class*="-usesCardRows"],
[class*="-divider"] > span {
    background: transparent !important;
}



[class*="-shopViewWrapper"] > div > main {
    background: transparent;
    div {
        background: transparent;
    }
}

[class*="-card"], [class*="root"]:not([class*='notification-root']) {
    background: transparent !important;
    backdrop-filter: blur(8px) brightness(80%);
}

.vc-notification-root {
    background: var(--bg-transparency) !important;
    backdrop-filter: blur(5px);
}

div[class*="-buttonsInner"] {
    background: var(--fg-transparency);
}

[class*="bannerButton"] {
    background: var(--bg-transparency) !important;
}

[class*="-outer"] {
    background: var(--bg-transparency);
    backdrop-filter: blur(5px);
}

[class*="ring"]:has([class*="outer"]) {
    [class*="outer"] {
        background: var(--custom-status-bubble-background) !important;
        backdrop-filter: unset !important;
    }
}

[class*="-itemCard"] {
    background: transparent;
    transition: 150ms ease;

    &:hover {
        background: var(--fg-transparency) !important;
    }
}

div[role="tooltip"] {
    border-radius: var(--radius-md);
    span[class*="inner"] {
        background: var(--profile-gradient-overlay-color);;
    }
}

div[aria-label="Game Collection"] {
    background: transparent;
    [class*="overlay"] {
        background: transparent;
    }

}

[class*="-root"]:not([class*='notification-root']) {
    background: transparent !important;
    backdrop-filter: blur(5px);

    [class^="-outer"] {
        background: transparent !important;

        [class^="container"] {
            background: transparent !important;
        }

        [class^="-profile"] {
            background: var(--fg-transparency);
        }
    }
}

aside > [class*="-outer"] {
    background: transparent;
    backdrop-filter: blur(8px);
    border: 1px solid var(--app-border-frame);
}

[class^="applicationStore"] {
    div {
        background: transparent;
    }
    background: transparent;
}

[class*="-app"] {
    background: transparent;
    background-image: var(--image-url);
    background-size: cover;
}

[class*="-bg"] {
    background: var(--bg-transparency);
}

[class*="-lineClamp1"] {
    margin: 0;
}

/* User info panel */
[class*="-panels"] {
    background: transparent;
    backdrop-filter: blur(8px) brightness(80%);
}

[class*="chat"] {
    background: transparent !important;
    [class*="-container"]:has([class*="-membersWrap"]) {
        background: transparent !important;
        border: 1px solid var(--border-subtle);
        border-right: 0px;
        border-radius: var(--radius-md);
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        display: flex;
        flex-direction: column;
        height: 97%;
        margin-top: 1%;
        backdrop-filter: blur(8px) brightness(80%);
    }
    [class*="-members"] {        background: transparent !important;
    }
    [class*="-member"] {
        background: transparent !important;
        margin-bottom: 3px;
    }
}

[class*="-wrapper"]:not([class*="-pill"], [class*="-focusedVideo"], [class*="-videoWrapper"], [class*="-categoryList"], #sticker-picker-tab-panel) {
    width: var(--server-listing-width);
    background: transparent;
}

[class*="scrollerWrap"] {
    width: calc(var(--server-listing-width) + 6px);
}



/*
.wrapper_ef3116 .scroller_ef3116 {
    justify-content: center;
}*/

#channel-attach {
    background: var(--bg-transparency);
    backdrop-filter: blur(8px);
}

[class*="-noChat"] {
    [class*="-callContainer"] {
        background: transparent;
    }
    background: transparent;
}



/* Chat bar */
[class*="-channelAttachmentArea"] {
    background-color: transparent !important;
}

[class*="-upload"] {
    background-color: transparent !important;
}

[class*="-actionBar"] {
    [class*="wrapper"] {
        background: var(--fg-transparency);
        backdrop-filter: blur(8px);
    }
}

[class*="-embedFull"] {
    background-color: transparent !important;
    backdrop-filter: blur(5px);
}
/* End of chat bar */

/* Inbox */
[class*="-recentMentionsPopout"] {
    [class*="-header"]:not([aria-labelledby]) {
        background-color: var(--fg-transparency) !important;
    }
    [class*="channel"] {
        background: transparent;
    }
    [class^="container"] {
        background: transparent !important;
    }
    [class*="channelHeader"] {
        background-color: transparent !important;
        position: relative;
    }
    [class*="-messageContainer"],
    [class*="-messages"] {
        background: transparent;
    }
    background-color: var(--fg-transparency) !important;
    backdrop-filter: blur(12px);
    border-radius: 0px;
    box-shadow: none;
}
/* End of Inbox  */

/* Top Bar */
.visual-refresh {
    --custom-app-top-bar-height: 10px !important;
}

[class*="-bar"] > [class*="-title"] {
    display: none
}

div[class*="-sidebar"]
    > nav[class*="-wrapper"]
    > ul[class*="-tree"]
    > div[class*="-itemsContainer"]
    > div[class*="-stack"] {
    padding-top: 12px !important;
}

[class*="sidebarList"] {
    border-right: 2px solid var(--border-faint);
    margin-right: 3px;
}

[class*="-base"] {
    --toolbar-right: 40px;
}

[class*="-trailing"] {
    top: 29px;
    z-index: 999;
    left: 5px;
    a {
        display: none;
    }
    gap: var(--space-4);
}

div[aria-label="Checkpoint"] {
    display: none;
}

[class*="-base"]:has(div[aria-label="Update Ready!"]) {
    --toolbar-right: 75px;
}

[class*="-toolbar"]:not([id="slate-toolbar"]) {
    position: relative;
    right: var(--toolbar-right);
}

[class*="-topic"] {
    margin: 0px 40px 0px 8px !important;
}
/* End of Topbar */
