div[aria-label="Send a gift"] {
    display: var(--enable-gift-button, none);
}

div[aria-label="Apps"] {
    display: var(--enable-app-launcher-button, none);
}

h3[class*="-header"] {
    margin: 0;
}

[class*="-typing"] {
    background-color: var(--msg-transparency);
    backdrop-filter: blur(8px);
    border-top-left-radius: var(--radius-md);
    border-top-right-radius: var(--radius-md);
    border: 1px solid var(--border-faint);
    border-bottom: 0px;
}

[class*="channelTextArea"],
[class*='-form'] > div {
    background: var(--msg-transparency);
    backdrop-filter: blur(8px);
}

[class*="-form"]:has([class*="-typing"]) [class*="-channelTextArea"] {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-top: 0px;
}

[class*="autocomplete"] {
    background: transparent;
    backdrop-filter: blur(12px) !important;
    [class*="-autocompleteInner"] {
        background: transparent;
        [class*="scroller"] {
            background-color: var(--bg-transparency);
        }
    }
}

.visual-refresh [class*="-form"] {
    margin: 0px 4px 0px 1px;
    padding: 0;
    --chatbar-border-color: var(--border-faint);
}

ul[class*="-content"] {
    li > div > a[href="/store"] {
        display: var(--enable-store-button, none);
    }
    li > div > a[href="/shop"] {
        display: var(--enable-shop-button, none);
    }
    li > div > a[href="/quest-home"] {
        display: var(--enable-quests-button, none);
    }
}

div[class*="-content"] {
    [class*="-text"] {
        max-height: unset !important;
    }
}

/*
    All the things that need to only be transparent

    Not a great thing to do, but it works.
*/
[class*="-shop"],
[class*="-privateChannels"],
[class*="-privateChannels"] > [class*="-scroller"],
[class*="-stackedBars"],
[class*="-guilds"],
[class*="-sidebar"]:after,
[class*="-themed"],
[class*="-themedBackground"],
[class*="-footer"],
nav[class*="-container"],
[class*="-banner"],
[class*="-usesCardRows"],
[class*="-divider"] > span {
    background: transparent !important;
}

[class*="-shopViewWrapper"] > div > main {
    background: transparent;
    div {
        background: transparent;
    }
}

[class*="-card"], [class*="-root"] {
    background: transparent !important;
    backdrop-filter: blur(8px) brightness(80%);
}

div[class*="-buttonsInner"] {
    background: var(--fg-transparency);
}

[class*="-outer"] {
    background: var(--bg-transparency);
    backdrop-filter: blur(5px);
}

[class*="-itemCard"] {
    background: transparent;
    transition: 150ms ease;

    &:hover {
        background: var(--fg-transparency) !important;
    }
}

div[role="tooltip"] {
    border-radius: var(--radius-md);
    span[class*="inner"] {
        background: #151515;
    }
}

div[aria-label="Game Collection"] {
    background: transparent;
    [class*="overlay"] {
        background: transparent;
    }

}

[class*="-root"] {
    background: transparent !important;
    backdrop-filter: blur(5px);

    [class^="-outer"] {
        background: transparent !important;

        [class^="container"] {
            background: transparent !important;
        }

        [class^="-profile"] {
            background: var(--fg-transparency);
        }
    }
}

aside > [class*="-outer"] {
    background: transparent;
    backdrop-filter: blur(8px);
    border: 1px solid var(--app-border-frame);
}

[class^="applicationStore"] {
    div {
        background: transparent;
    }
    background: transparent;
}

[class*="-app"] {
    background: transparent;
    background-image: var(--image-url);
    background-size: cover;
}

[class*="-bg"] {
    background: var(--bg-transparency);
}

[class*="-lineClamp1"] {
    margin: 0;
}

/* User info panel */
[class*="-panels"] {
    background: transparent;
    backdrop-filter: blur(8px) brightness(80%);
}

[class*="chat"] {
    background: transparent !important;
    [class*="-container"]:has([class*="-membersWrap"]) {
        background: transparent !important;
        border: 1px solid var(--border-subtle);
        border-right: 0px;
        border-radius: var(--radius-md);
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        display: flex;
        flex-direction: column;
        height: 97%;
        margin-top: 1%;
        backdrop-filter: blur(8px) brightness(80%);
    }
    [class*="-members"] {        background: transparent !important;
    }
    [class*="-member"] {
        background: transparent !important;
        margin-bottom: 3px;
    }
}

[class*="-wrapper"]:not([class*="-pill"], [class*="-focusedVideo"], [class*="-videoWrapper"]) {
    width: var(--server-listing-width);
}

[class*="scrollerWrap"] {
    width: calc(var(--server-listing-width) + 6px);
}

[class*="wrapper"] [class*="scroller"] {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0;
    align-content: flex-start;
}

/*
.wrapper_ef3116 .scroller_ef3116 {
    justify-content: center;
}*/

#channel-attach {
    background: var(--bg-transparency);
    backdrop-filter: blur(8px);
}

[class*="-noChat"] {
    [class*="-callContainer"] {
        background: transparent;
    }
    background: transparent;
}



/* Chat bar */
[class*="-channelAttachmentArea"] {
    background-color: transparent !important;
}

[class*="-upload"] {
    background-color: transparent !important;
}

[class*="-actionBar"] {
    [class*="wrapper"] {
        background: var(--fg-transparency);
        backdrop-filter: blur(8px);
    }
}

[class*="-embedFull"] {
    background-color: transparent !important;
    backdrop-filter: blur(5px);
}
/* End of chat bar */

/* Inbox */
[class*="-recentMentionsPopout"] {
    [class*="-header"]:not([aria-labelledby]) {
        background-color: var(--fg-transparency) !important;
    }
    [class*="channel"] {
        background: transparent;
    }
    [class^="container"] {
        background: transparent !important;
    }
    [class*="channelHeader"] {
        background-color: transparent !important;
        position: relative;
    }
    [class*="-messageContainer"],
    [class*="-messages"] {
        background: transparent;
    }
    background-color: var(--fg-transparency) !important;
    backdrop-filter: blur(12px);
    border-radius: 0px;
    box-shadow: none;
}
/* End of Inbox  */

