/* Top Bar */
.visual-refresh {
    --custom-app-top-bar-height: 10px !important;
}

[class*="bar_"] > [class*="title_"] {
    display: none
}

div[class^="sidebar_"]
> nav[class^="wrapper_"]
> ul[class^="tree_"]
> div[class^="itemsContainer_"]
> div[class^="stack_"] {
    padding-top: 12px !important;
}

[class*="sidebarList"] {
    border-right: 2px solid var(--border-faint);
    margin-right: 3px;
}

[class*="base__"] {
    --toolbar-right: 40px;
}

[class^="trailing_"] {
    top: 28px;
    z-index: 999;
    left: 5px;
    a {
        display: none;
    }
    gap: var(--space-4);
}

div[aria-label="Checkpoint"] {
    display: none;
}

[class*="base__"]:has(div[aria-label="Update Ready!"]) {
    --toolbar-right: 75px;
}

[class^="toolbar__"] {
    position: relative;
    right: var(--toolbar-right);
}

[class^="topic__"] {
    margin: 0px 40px 0px 8px !important;
}
/* End of Topbar */
